QDialog
{
Background-color: red;
color: blue;
border:2px solid grey;
border-radius: 10px;
}
QDialog:hover
{
Background-color:blue;
color: red;
}
QWidget
{
Background-color: white;
color: black;
border:2px solid grey;
border-radius: 10px;
}
